<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head-links :: head-links}">
    <meta charset="UTF-8">
    <title th:text="#{title.create.dish}">Title</title>

</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>
<div class="create_category_wrapper">

    <form method="post" enctype="multipart/form-data" th:action="@{/dish}">

        <div th:object="${dish}">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{image}"/>
            <input type="number" th:placeholder="#{account.settings.redactor.table.price}"
                   th:field="*{price}"/>
            <span class="help-block" th:if="${#fields.hasErrors('price')}">
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
            </span>

            <input type="number" th:placeholder="#{account.settings.redactor.table.weight}"
                   th:field="*{weight}"/>
            <span class="help-block" th:if="${#fields.hasErrors('weight')}">
                <ul>
                    <li th:each="err : ${#fields.errors('weight')}" th:text="${err}"></li>
                </ul>
            </span>

            <select name="categoryId" class="filter-select">
                <option th:each="category : ${categories}"
                        th:text="${category.localizations.get(#locale)} ?
                            ${category.localizations.get(#locale).name} :
                            ${category.localizations.get(languages[0]).name}"
                        th:value="${category.id}"
                        th:selected="${categoryId==null ?
                            (dish.category==null ?
                            category.id==1 :
                            category.id.toString()==dish.category.id.toString()) :
                            category.id.toString() == categoryId.toString()}">
                </option>
            </select>
        </div>

        <div th:object="${form}">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th th:text="#{account.settings.redactor.table.name}">Name</th>
                    <th th:text="#{account.settings.redactor.table.description}">Description</th>
                </tr>
                </thead>
                <tbody>
                <div class="localization_input">
                    <tr th:each="language, itemStat : ${languages}">
                        <input type="hidden" th:field="*{localizedDishList[__${itemStat.index}__].localizedId.locale}"/>
                        <td th:text="${localizedDishList[__${itemStat.index}__].localizedId.locale == null ?
                        languages[__${itemStat.index}__].getDisplayLanguage() :
                        localizedDishList[__${itemStat.index}__].localizedId.locale.getDisplayLanguage()}"></td>
                        <td><textarea th:field="*{localizedDishList[__${itemStat.index}__].name}"
                                      rows="4" cols="22" th:required="${itemStat.index == 0}"></textarea>
                        </td>
                        <td><textarea th:field="*{localizedDishList[__${itemStat.index}__].description}"
                                      rows="4" cols="22" th:required="${itemStat.index == 0}"></textarea>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>

        <div class="img_container">
            <div th:text="#{account.settings.redactor.table.button.previous}"></div>
            <div>
                <img th:src="@{'/img/' + ${dish.image}}"
                     class="cart_dish_img">
            </div>
        </div>

        <div>
            <input id="file" name="file" type="file" class="file">
        </div>

        <div>
            <div>
                <button class="submit_button"
                        th:with="text=${dish['new']} ?
                         #{account.settings.redactor.table.button.create} :
                          #{account.settings.redactor.table.button.update}"
                        type="submit" th:text="${text}">Add Dish
                </button>
            </div>
        </div>
    </form>
</div>

</body>
</html>