<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head-links :: head-links}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<!--/*@thymesVar id="dish" type="com.fenonq.spring.myrestaurant.model.Dish"*/-->
<!--/*@thymesVar id="localizedDish" type="com.fenonq.spring.myrestaurant.model.LocalizedDish"*/-->
<h1 class="menu" th:text="#{menu.menu}">Menu</h1>

<div class="dishes_wrapper">
    <div class="dishes">
        <!--            <c:if test="${dish.isVisible == 1}">-->
        <div th:each="dish : ${dishes}" class="dish">
            <img src="${pageContext.request.contextPath}/static/img/dish-${dish.id}.png"
                 th:alt="${dish.localizations.get(languages[0]).name} + ' img'"
                 class="dish_img">
            <p class="dish_text dish_name"
               th:text="${dish.localizations.get(#locale)} ?
                ${dish.localizations.get(#locale).name} :
                 ${dish.localizations.get(languages[0]).name}"></p>

            <!--            <td th:text="${dish.localizations.get(#locale)} ?-->
            <!--                                 ${dish.localizations.get(#locale).name} :-->
            <!--                                 ${dish.localizations.get(languages[0]).name}">-->
            <!--                                                    test-->
            <!--                                                </td>-->
            <p class="dish_text dish_description"
               th:text="${dish.category.localizations.get(#locale)} ?
               ${dish.category.localizations.get(#locale).name} :
                ${dish.category.localizations.get(languages[0]).name}"></p>
            <p class="dish_text dish_weight" th:text="${dish.weight} + 'g'"></p>
            <p class="dish_text dish_price" th:text="${dish.price} + '$'"></p>
            <form action="${pageContext.request.contextPath}/cart" method="post">
                <input name="id" style="display: none" value="${dish.id}">
                <input value="1" name="count" style="display: none">
                <button type="submit"
                        class="dish_button"
                        th:text="#{menu.button.add}">
                </button>
            </form>
        </div>
        <!--            </c:if>-->
    </div>
</div>
</body>
</html>