<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head-links :: head-links}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<!--/*@thymesVar id="dish" type="com.fenonq.spring.myrestaurant.model.Dish"*/-->
<!--/*@thymesVar id="category" type="com.fenonq.spring.myrestaurant.model.Category"*/-->
<div class="table_wrapper creation_table">
    <p class="table_title" th:text="#{dishes.header.allDishes}">
        All dishes
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th th:text="#{dishes.table.photo}"></th>
            <th th:text="#{dishes.table.name}">Name</th>
            <th th:text="#{dishes.table.description}">Description</th>
            <th th:text="#{dishes.table.category}">Category</th>
            <th th:text="#{dishes.table.weight}">Weight</th>
            <th th:text="#{dishes.table.price}">Price</th>
            <th th:text="#{dishes.table.status}">Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish : ${dishes}">
            <td th:text="${dish.id}">Id</td>
            <td>
                <img th:src="@{'img/' + ${dish.image}}"
                     class="cart_dish_img">
            </td>
            <td th:text="${dish.localizations.get(#locale)} ?
                   ${dish.localizations.get(#locale).name} :
                   ${dish.localizations.get(languages[0]).name}">Name
            </td>
            <td th:text="${dish.localizations.get(#locale)} ?
                   ${dish.localizations.get(#locale).description} :
                   ${dish.localizations.get(languages[0]).description}">Description
            </td>
            <td th:text="${dish.category.localizations.get(#locale).name}">Category</td>
            <td th:text="${dish.weight}">Weight</td>
            <td th:text="${dish.price}">Price</td>
            <td>
                <form method="post" th:action="@{'/changeVisibility/dish/' + ${dish.id}}"
                      class="form_button">
                    <button type="submit" th:text="${dish.visible} ?
                     #{dishes.table.button.status.visible} :
                     #{dishes.table.button.status.invisible}">
                        Change
                    </button>
                </form>
            </td>
            <td>
                <a th:href="@{'/update/dish/' + ${dish.id}}">
                    <button type="button" th:text="#{dishes.table.button.update}">
                        Update
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="strip"></div>

    <div class="create_button">
        <a th:href="@{/new/dish}">
            <button th:text="#{dishes.table.button.create}">
                Sub
            </button>
        </a>
    </div>
</div>


</body>
</html>