<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" th:src="@{js/language-select.js}" defer></script>
    <link rel="stylesheet" th:href="@{css/header.css}">

</head>
<body>
<header th:fragment="header" class="header">
    <a class="main_page_link nav_item nav__link" th:href="@{/menu}">MyRestaurant</a>

    <ul class="nav">
        <li class="nav_item" th:style="${currentUser} ?
                                      (${currentUser.roles.iterator().next().toString() != 'CUSTOMER'} ? 'display: none')">
            <a class="nav__link" th:href="@{/menu}" th:text="#{menu.menu}">Menu</a>
        </li>
        <li class="nav_item" th:style="${currentUser} ?
                                      (${currentUser.roles.iterator().next().toString() != 'CUSTOMER'} ? 'display: none') :
                                       'display: none'">
            <a class="nav__link" th:href="@{/cart/user}" th:text="#{header.cart}">Cart</a>
        </li>
        <li class="nav_item" th:style="${currentUser} ?
                                      (${currentUser.roles.iterator().next().toString() != 'MANAGER'} ? 'display: none') :
                                       'display: none'">
            <a class="nav__link" th:href="@{/receipts}" th:text="#{header.receipts}">Receipts</a>
        </li>
        <li class="nav_item" th:style="${currentUser} ?
                                      (${currentUser.roles.iterator().next().toString() != 'ADMIN'} ? 'display: none') :
                                       'display: none'">
            <a class="nav__link" th:href="@{/users}" th:text="#{header.users}">Users</a>
        </li>
        <li class="nav_item" th:style="${currentUser} ?: 'display: none'">
            <a class="nav__link" th:href="@{/account}" th:text="#{header.account}">Account</a>
        </li>
        <li class="nav_item" th:style="${currentUser} ? 'display: none'">
            <a class="nav__link" th:href="@{/login}" th:text="#{header.login}">Login</a>
        </li>

        <li class="locale_item">
            <form class="event-listener-form">
                <select name="lang" class="form-select">
                    <option th:each="language : ${languages}" th:value="${language}"
                            th:selected="${#locale == language}"
                            th:text="${language.getLanguage().toUpperCase()}"
                            class="option">Option
                    </option>
                </select>
            </form>
        </li>
    </ul>
</header>


</body>
</html>