<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head-links :: head-links}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<p class="cart_empty" th:text="${userCart.size() == 0} ? #{cart.table.emptyCart}">Empty</p>

<div class="cart_wrapper" th:if="${userCart.size() != 0}">
    <div class="table_wrapper">
        <p class="table_title" th:text="#{cart.table.yourCart}">
            Your cart
        </p>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th th:text="#{cart.table.name}">Name</th>
                <th th:text="#{cart.table.weight}">Weight</th>
                <th th:text="#{cart.table.price}">Price</th>
                <th th:text="#{cart.table.count}">Count</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${userCart}">
                <td>
                    <img th:src="@{'/img/' + ${item.key.image}}"
                         class="cart_dish_img"/>
                </td>
                <td th:text="${item.key.localizations.get(#locale)} ?
                ${item.key.localizations.get(#locale).name} :
                ${item.key.localizations.get(languages[0]).name}">Name</td>
                <td th:text="${item.key.weight} + 'g'">Weight</td>
                <td th:text="${item.key.price + '&#8372'}">Price</td>
                <td>
                    <div class="dish_count">
                        <form method="post" th:action="@{'/cart/remove/' + ${item.key.id}}"
                              class="form_button">
                            <button type="submit">
                                -
                            </button>
                        </form>

                        <text th:text="${item.value}">Count</text>

                        <form method="post" th:action="@{'/cart/add/' + ${item.key.id}}"
                              th:style="${item.value == 10} ? 'display: none'"
                              class="form_button">
                            <button type="submit">
                                +
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="strip"></div>
    <div class="order_wrapper">
        <form th:action="@{/receipt/order}" method="post" class="order_button">
            <button type="submit">
                Order
            </button>
        </form>
    </div>
</div>
</body>
</html>