<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head-links :: head-links}">
    <meta charset="UTF-8">
    <title th:text="#{title.change.password}">Title</title>

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="wrapper">
    <form th:action="@{/account/changePassword}" method="post" class="ls-form">
        <h1 class="ls-form__header change_pass__header" th:text="#{changePassword.header.changePassword}">
            Change password
        </h1>
        <div class="mandatory_field">
            <input name="oldPassword" class="ls-form__input" id="old-oldPassword" type="password"
                   th:placeholder="#{changePassword.placeholder.oldPassword}"/>
        </div>
        <div class="mandatory_field">
            <input name="newPassword" class="ls-form__input" id="new-newPassword" type="password"
                   th:placeholder="#{changePassword.placeholder.newPassword}"/>
        </div>

        <button class="ls-form__button" type="submit" th:text="#{changePassword.button.change}">
            Sub
        </button>

        <p th:if="${param.error ne null}" style="font-size: .8rem; color: red; font-style: italic; margin: 0"
           th:text="#{changePassword.message.error}">Error</p>

    </form>
</div>
</body>
</html>